openapi: 3.2.0
info:
  title: Public OTP Management Data Injections API
  version: public
servers:
- url: https://otpm-api.aibidia.com
tags:
- name: DataInjections
paths:
  /api/datainjections/automated:
    post:
      tags:
      - DataInjections
      summary: Automated data injection (Multi-Level Segmentation)
      description: 'Uploads data for a specific year, month, and Extract Type.


        **Special Requirements:**

        - **Consecutive Order**: Pages must be sent in consecutive order.

        - **Page Size**: Max 5000 items per page.

        - **Total Pages**: Max 2000 pages.

        - **Rate Limit**: Recommended 1 request per second.

        - **Failure Recovery**: If a request fails, restart from `currentPage: 0`.'
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/InputAutomatedMultiLevelSegmentationInjectionDto'
          text/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/InputAutomatedMultiLevelSegmentationInjectionDto'
          application/*+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/InputAutomatedMultiLevelSegmentationInjectionDto'
        required: true
      responses:
        '401':
          description: Unauthorized
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AutomatedDataInjectionResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/AutomatedDataInjectionResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/AutomatedDataInjectionResponse'
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '403':
          description: Forbidden
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '500':
          description: Internal Server Error
      operationId: postApiDatainjectionsAutomated
      x-operation-id-source: derived
components:
  schemas:
    AutomatedDataInjectionResponse:
      required:
      - extractId
      type: object
      properties:
        extractId:
          type: integer
          format: int32
      additionalProperties: false
    ProblemDetails:
      required:
      - detail
      - instance
      - status
      - title
      - type
      type: object
      properties:
        type:
          type:
          - 'null'
          - string
        title:
          type:
          - 'null'
          - string
        status:
          type:
          - 'null'
          - integer
          format: int32
        detail:
          type:
          - 'null'
          - string
        instance:
          type:
          - 'null'
          - string
      additionalProperties: {}
    InputAutomatedMultiLevelSegmentationInjectionDto:
      required:
      - currentPage
      - data
      - month
      - pages
      - year
      type: object
      properties:
        pages:
          maximum: 2000
          minimum: 1
          type: integer
          format: int32
        currentPage:
          type: integer
          format: int32
        data:
          maxItems: 5000
          type: array
          items:
            $ref: '#/components/schemas/InputAutomatedMultiLevelSegmentationInjectionItemDto'
        year:
          type: integer
          format: int32
        month:
          maximum: 13
          minimum: 1
          type: integer
          format: int32
      additionalProperties: false
    InputAutomatedMultiLevelSegmentationInjectionItemDto:
      required:
      - account
      - accountDescription
      - businessUnit
      - costCenter
      - counterpartyLegalEntity
      - department
      - division
      - functionalArea
      - groupValue
      - legalEntity
      - localValue
      - productLevel1
      - productLevel2
      - productLevel3
      - productLevel4
      - productLevel5
      - profitCenter
      - projectCode
      - taxJurisdiction
      type: object
      properties:
        account:
          maxLength: 255
          minLength: 1
          type: string
        accountDescription:
          maxLength: 1000
          type: string
        legalEntity:
          maxLength: 50
          minLength: 1
          type: string
        counterpartyLegalEntity:
          maxLength: 50
          type:
          - 'null'
          - string
        groupValue:
          type:
          - 'null'
          - number
          format: double
        localValue:
          type:
          - 'null'
          - number
          format: double
        taxJurisdiction:
          maxLength: 255
          type:
          - 'null'
          - string
        division:
          maxLength: 255
          type:
          - 'null'
          - string
        businessUnit:
          maxLength: 255
          type:
          - 'null'
          - string
        functionalArea:
          maxLength: 255
          type:
          - 'null'
          - string
        department:
          maxLength: 255
          type:
          - 'null'
          - string
        profitCenter:
          maxLength: 255
          type:
          - 'null'
          - string
        costCenter:
          maxLength: 255
          type:
          - 'null'
          - string
        productLevel1:
          maxLength: 255
          type:
          - 'null'
          - string
        productLevel2:
          maxLength: 255
          type:
          - 'null'
          - string
        productLevel3:
          maxLength: 255
          type:
          - 'null'
          - string
        productLevel4:
          maxLength: 255
          type:
          - 'null'
          - string
        productLevel5:
          maxLength: 255
          type:
          - 'null'
          - string
        projectCode:
          maxLength: 255
          type:
          - 'null'
          - string
      additionalProperties: false
  securitySchemes:
    X-DATAINGESTION-API-KEY:
      type: apiKey
      description: API Key authentication using the X-DATAINGESTION-API-KEY header.
      name: X-DATAINGESTION-API-KEY
      in: header
